*.db
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

go.work
go.work.sum

.env
.vscode/
main
config/memories.txt
config/memories.txt
config/keys/
blady
whatsabladerunner
config/tasks/*
docs/samples/message1.b64
docs/samples/message1.bin
docs/samples/message1.raw
docs/samples/message1.unmarshal
docs/samples/message2.b64
docs/samples/message2.bin
docs/samples/message2.raw
docs/samples/message2.unmarshal
docs/samples/message3.b64
docs/samples/message3.bin
docs/samples/message3.raw
docs/samples/message3.unmarshal
docs/samples/message4.b64
docs/samples/message4.bin
docs/samples/message4.raw
docs/samples/message4.unmarshal
config/batata.json
logs/llm/
plain_media/
